.card {
  background-color: #5212B2;
  border: 3px solid #5212B2;
  border-radius: 10px;
  overflow: hidden;
  margin: 10px;
}

.card-header {
  padding: 5px 0px;
  display: flex;
  justify-content: center;
  color: #fafafa;
}

.card-body {
  background-color: #fff;
  color: #000;
  padding: 20px;
}